@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}
html {
  background-color: #001524;
  color: rgb(235, 226, 226);
}
.navbar {
  background-color: #010b12;
  color: rgb(235, 226, 226);

  border-bottom: 1px solid rgb(109, 109, 117);
}
.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect {
  background-color: #ff7d00;
  font-weight: bold;
  transition: 0.3s;
}
.connect:hover {
  gap: 15px;
  transform: scale(1.04);
}
.head {
  background: linear-gradient(270deg, #ff6700 10%, #f72585 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me:hover {
  transform: scale(1.05);
  background-color: #002c4a;
}

.my-services {
  transition: 0.3s;
}
.my-services:hover {
  transform: scale(1.04);
}
.service-data {
  transition: 0.3s;
}
.service-data:hover {
  transform: scale(1.05);
  background-color: #002c4a;
}
.service-list {
  transition: 0.4s;
  cursor: pointer;
}
.service-list:hover {
  transform: scale(1.01);
}

.contact-btn {
  border: 2px solid white;
  background-color: rgb(3, 38, 58);
  transition: 0.3s;
}
.contact-btn:hover {
  transform: scale(1.04);
}
.sideMenu {
  background-color: black;
}
::placeholder {
  color: rgb(66, 85, 100);
}
.footer {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.create {
  font-size: small;
  color: #838484;
}
